body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 300;
  font-size: 300%;
  margin-bottom: 32px;
  letter-spacing: -0.075em;
}

:root {
  --w: 60rem;
  --ss: system-ui, 'Avenir Next', 'Segoe UI', 'PT Sans', sans-serif;
  --yellow: #ffba00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  background: #04060b;
  font: 400 100%/1.6 var(--ss);
  color: #f7f8fb;
  -webkit-font-smoothing: antialiased;
}

.Container {
  margin: 1rem auto 1rem;
  padding: 8px;
  max-width: 38rem;
}

.Form {
  width: 100%;
}

.Input {
  padding: 8px;
  margin-bottom: 1rem;
  display: block;
  border-radius: 0.25rem;
  border: 1px solid rgba(30, 184, 235, 0.35);
  resize: none;
  width: 100%;
  font: inherit;
  color: white;
  background: #063651;
  transition: border-color 375ms ease-in-out;
}

.Tray {
  margin-bottom: 16px;
}

.Tray > .Button {
  display: block;
  margin-left: auto;
}

.Button {
  background: var(--yellow);
  color: #092e41;
  border: 0;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  appearance: none;
  font-weight: 900;
  transition: background-color 375ms ease-in-out;
}

.Button:hover {
  background: #e29c00;
}

.Button:disabled {
  filter: grayscale(1);
  opacity: 0.5;
}

.List {
  list-style: none inside;
}

.ListItem {
  margin-bottom: 32px;
}

.strike {
  text-decoration: line-through;
}

.InlineContent {
  width: 100%;
}

.InlineActions {
  justify-content: flex-end;
  display: flex;
}
.InlineForm {
  width: 100%;
  display: flex;
}

.InlineInput {
  flex: 1;
  display: block;
  padding: 2px;
}

.ActionButton {
  padding: 4px;
  background: none;
  font-weight: 700;
  border: 0;
  color: white;
}

.InlineActions > * + * {
  margin-left: 8px;
}

.InlineEdit {
  margin-right: 8px;
}

.Todo {
  background: #4e5562;
  border-radius: 8px;
  padding: 16px;
  display: flex;
}

.Filters {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
}

.FilterButton {
  appearance: none;
  padding: 8px;
  background: #4e5562;
  color: inherit;
  border: 0;
  border-radius: 8px;
  margin-right: 16px;
  font-weight: 700;
  font-size: 14px;
}

.FilterButton.active {
  background: #db6043;
}

[data-reach-dialog-content] {
  width: 100% !important;
  max-width: 33rem !important;
  background: #4e5562 !important;
}
